@import "~@ionic/core/dist/collection/themes/ionic.globals.scss";
@import './functions';
@import './mixins';

$toolbar-background-color: cyan;
$toolbar-md-background-color: cyan;
$toolbar-ios-background-color: cyan;

$ionicons-font-path: '~ionicons/dist/fonts';

$custom-colors:(
  secondary: (
    base:             red,
    contrast:         #fff,
    shade:            get-color-shade(red),
    tint:             get-color-tint(red)
  ),
  myColor: (
    base:             blue,
    contrast:         #fff,
    shade:            get-color-shade(blue),
    tint:             get-color-tint(blue)
  ),
  myColor2: (
    base:             green,
    contrast:         #fff,
    shade:            get-color-shade(green),
    tint:             get-color-tint(green)
  ),
  // WARNING ! cannot use built-in colors here
  // rebeccapurple: (
  //   base:     rebeccapurple,
  //   contrast: #fff,
  //   shade:    get-color-shade(rebeccapurple),
  //   tint:     get-color-tint(rebeccapurple)
  // ),
  // WARNING ! kebab case too BTW
  // alice-blue: (
  //   base:     aliceblue,
  //   contrast: #fff,
  //   shade:    get-color-shade(aliceblue),
  //   tint:     get-color-tint(aliceblue)
  // ),
);

$colors: ion-extend-colors($colors, $custom-colors);
